@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Student>

@if (SignInManager.IsSignedIn(User))
{
    <div>
    @if (Model.Count() > 0)
    {
        <div class="mt-2">
            <table id="" class="table table-hover table-bordered table-sm text-center" style="background-color:lightskyblue" width="100%">
                    <thead class="table table-primary">
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                            <th>@Html.DisplayNameFor(m => m.LastName)</th>
                            <th>@Html.DisplayNameFor(m => m.Department)</th>
                            <th>@Html.DisplayNameFor(m => m.Semester)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => items.Id)</td>
                                <td>@Html.DisplayFor(m => items.FirstName)</td>
                                <td>@Html.DisplayFor(m => items.LastName)</td>
                                <td>@Html.DisplayFor(m => items.Department.Name)</td>
                                <td>@Html.DisplayFor(m => items.Semester)</td>
                                <td>
                                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@items.Id"  class="btn btn-dark text-white btn-sm"><i class="fas fa-edit"></i> &nbsp; Edit</a>
                                    <a class="btn btn-danger text-white btn-sm"  asp-controller="Student" asp-action="Delete" asp-route-id="@items.Id"><i class="fas fa-trash-alt"></i> &nbsp; Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
            </table>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-danger text-danger" role="alert">No student records available right now !</div> 
    }
</div>
}

else
{
    <br />
        <div class="alert alert-danger text-danger" role="alert">Sign in First to continue !</div> 
}



